{% extends 'flatpages/default.html' %}

{% block content %}
    {% if request.user.first_name or request.user.last_name %}
     <h2>{{request.user.first_name}} {{request.user.last_name}}, вы авторизованы!</h2> 
    {% else  %} 
     <h2>{{request.user.username}}, вы авторизованы!</h2> 
    {% endif %}
    <br>
    <div style="margin-bottom: 20px;"> <h5>Ваша персональная информация</h5></div>
    <div style="margin-bottom: 20px;  line-height:1;">
       
        <p>Ваше имя пользователя:  {{request.user.username}}</p>
        <p>Последний раз вы заходили на сайт {{request.user.last_login}}</p>
    </div>
    {% if not is_not_author %}
        <hr>
        <div style="margin-bottom: 30px;"><p> Вы являетесь автором и можете размещать свои <a href="/articles/create/">статьи</a> и <a href="/news/create/">новости!</a></p></div>   
    {% endif %}
 <form method="post" action="{% url 'logout' %}"> 
    {% csrf_token %}
    <button type="submit">Выйти</button>
    {% if is_not_author %}
    <button> <a href="/upgrade/" style="text-decoration: none; color: black;"> Стать автором!</a> </button>
    {% endif %}
</form>
{% endblock %}