<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет News -->
{% block title %}
Detailed view
{% endblock title %}

<!-- В контенте на странице мы выводим пост, идентификатор которого был передан в url -->
{% block content %}
   <h3>Пост № {{ post.pk }}</h3>
   <hr>
   <!-- Выводим посты, только если они есть и они являются новостью с помощью тега if -->
   {% if post%}
       <table class="table"> <!-- Начинаем описывать таблицу -->

           <tr> <!-- Добавляем строку -->
               <th> <!-- Добавляем ячейку в строку -->

                   Категория
               </th>

               <th> <!-- Добавляем ячейку в строку -->

                   Заголовок поста
               </th>
               <th> <!-- Добавляем ещё одну ячейку в строку и так далее -->
                   Текст поста
               </th>
               <th>
                   Дата
               </th>
               </tr> <!-- Не забываем закрыть HTML-тег строки -->
                   <tr>
                       <td>{% for category in post.categories.all %}
                        <a href="/categories/{{ category.pk }}" style="color: black;">{{ category.category_name }}</a>
                        {% endfor %}
                   </td>
                       <td>{{ post.post_headline|censor }}</td>
                       <td>{{ post.post_text|censor }}</td>
                       <td>{{ post.post_time|date:'j.m.Y'}}</td>
                   </tr>
       </table> <!-- ... и таблицы -->
   {% else %}
       <!-- Если постов нет или пост есть, но он не новость, говорим, что новостей нет ;) -->
       <h4>По этому адресу нет постов!</h4>
   {% endif %}
{% endblock content %}