<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет posts -->
{% block title %}
News search
{% endblock title %}

<!-- В контенте на странице мы выводим все посты-->
{% block content %}
   <h3>Поиск по новостям</h3><br>
{# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
{# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
{# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
   <hr>
   <!-- Выводим посты, только если они есть с помощью тега if -->
   {% if posts1%}
       <table class="table"> <!-- Начинаем описывать таблицу -->

           <tr> <!-- Добавляем строку -->

               <th> <!-- Добавляем ячейку в строку -->

                   Заголовок
               </th>
               <th> <!-- Добавляем ещё одну ячейку в строку и так далее -->

                   Дата публикации
               </th>
               <th>
                   Первые 20 символов текста
               </th>
               </tr> <!-- Не забываем закрыть HTML-тег строки -->
           {% for post in posts1 %}
               {% if post.is_news %}
               <tr>
                   <td>{{ post.post_headline|censor  }}</td>
                   <td>{{ post.post_time|date:'j.m.Y H:i'}}</td>
                   <td>{{ post.post_text|truncatechars:20|censor  }}</td>
               </tr>
               {% endif %}
           {% endfor %}
       </table> <!-- ... и таблицы -->
   {% else %}
       <!-- Если постов нет, говорим, что постов нет ;) -->
       <h4>Постов нет!</h4>
   {% endif %}
    {# Добавляем пагинацию на страницу #}
   {% if page_obj.has_other_pages %}
       {# Информация о предыдущих страницах #}
       {% if page_obj.has_previous %}
           <a href="?page=1">1</a>
           {% if page_obj.previous_page_number != 1 %}
               ...
               <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
           {% endif %}
       {% endif %}

       {# Информация о текущей странице #}
       {{ page_obj.number }}

       {# Информация о следующих страницах #}
       {% if page_obj.has_next %}
           <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
           {% if paginator.num_pages != page_obj.next_page_number %}
               ...
               <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
           {% endif %}
       {% endif %}
    {% endif %}
{% endblock content %}